body{
   font-family: 'Montserrat', sans-serif;

}
header{
   background-color: #bbbbbb;
   padding: 20px 0;
}

.caixa{
   position: relative;
   width: 940px;
   margin: 0 auto;
}
nav{
   position: absolute;
   top: 110px;
   right: 0;
}

nav li{
   display: inline;
   margin: 0 0 0 15px;
   

}
nav a{
   text-transform: uppercase;
   color: #000000;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
   
}

nav a:hover{
   border-bottom: #2222ff 2px solid;
   box-shadow: 0 0 60px #00ff;
   transition: 1.2s;
   /* text-decoration: #2222ff underline; */
}


.banner {
	width: 100%;
   /* margin: 0 auto; */
}

.main {
   /* background-color: #cccccc; */
   
   margin: 15px 150px 135px; 
   
	
}


h2 {
	text-align: center;
}

/* p {
	text-align: center;
} */
#missao {
	font-size: 20px;
}
.itens {
	font-style: italic;
}
.titulo-principal{
   text-align: center;
   font-size: 2em;
   margin: 0 0 1em;
   clear: left;
}

.principal p{
   margin: 0 0 1em;

}
.principal strong{
   font-weight:bold ;
}

.principal em{
   font-style: italic;
}

.ultesilios{
   width: 120px;
   float: left;
   margin: 0 20px 20px 0;
   
}

.mapa{
   padding: 1em 6em;
}
.mapa p{
   margin-bottom: 2em;
   text-align: center;
}

.beneficios {
	background: #ffffff;
   padding: 3em 0;
	
}
/* .beneficios ul{
   vertical-align: top;
   margin: 0 0 0 30px;

} */

.conteudo-beneficios {
   width: 640px;
   margin: 0 auto;
}
.lista-beneficios{
   width: 40%;
   display: inline-block;
   vertical-align: top;
}
.itens{
   line-height: 1.5;
}
.itens:first-child{
   font-weight: bold;
}

#imgbeneficios {
	width: 60%;
   /* text-align: center;
   margin: 20px 0 10px 30px; */
   
}
.video{
   width:560px;
   text-align: center;
   margin: 2em auto;
}

footer {
   text-align: center;
   background: url("/img/bg.jpg");
   padding: 20px 0;
   color: #ffffff;
   font-size: 16px;
   font-weight: bold;

}
.rodape{
   padding: 10px 0;
} 
.rodape a{
   color: #2222ff;
   text-decoration: none;
}

