header{
   background-color: #bbbbbb;
   padding: 20px 0;
}

.caixa{
   position: relative;
   width: 940px;
   margin: 0 auto;
}
nav{
   position: absolute;
   top: 110px;
   right: 0;
}

nav li{
   display: inline;
   margin: 0 0 0 15px;
   

}
nav a{
   text-transform: uppercase;
   color: #000000;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
   
}

nav a:hover{
   border-bottom: #2222ff 2px solid;
   box-shadow: 0 0 60px #00ff;
   transition: 1.2s;
   /* text-decoration: #2222ff underline; */
}


#banner {
	width: 100%;
   /* margin: 0 auto; */
}

.main {
   background-color: #cccccc;
   padding: 30px;
   text-align: center;
   align-items: center;
   align-content: center;
	/* color: #000000; */
	/* position: relative; */
   /* width: 940px;
   margin: 0 auto; */
}


h2 {
	text-align: center;
}

.negrito {
	/* font-weight: bold; */
	color: #ff0000;
	/* font-size: 1.1rem; */
}
p {
	text-align: center;
}
#missao {
	font-size: 20px;
}
.itens {
	font-style: italic;
}
.titulo-centralizado{
   text-align: center;
   font-weight: bold;
   font-size: 22px;
}


.beneficios {
	background: #ffffff;
	
}
.beneficios ul{
   vertical-align: top;
   width: 20%;
   margin-top: 30px;
   margin-left:42%;
   font-size: 22px;
}

#imgbeneficios {
	max-width: 100%;
   margin-left: 60px;
   
	/* box-shadow: 0 0 1em gold; */
}

footer {
   text-align: center;
   background: url("/img/bg.jpg");
   padding: 20px 0;
   color: #ffffff;
   font-size: 16px;
   font-weight: bold;

}
.rodape{
   padding: 10px 0;
} 
.rodape a{
   color: #2222ff;
   text-decoration: none;
}

